@import "tailwindcss";

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }


  /* Scale-Up Animation for Every 2nd Image on Medium Screens */
 @media (min-width: 768px) {
  @keyframes scaleUp {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  .md\:scale-up {
    animation: scaleUp 2.5s ease-in-out infinite;
  }
} 

/* @media (min-width: 768px) {
  @keyframes scaleUp {
    0%, 100% {
      height: 100%;
    }
    50% {
      height: 120%;
    }
  }

  .md\:scale-up-vertical {
    animation: scaleUp 2.5s ease-in-out infinite;
  }
} */
/* 


/* Card Animation */

/* Infinite Scroll Animation */
@keyframes scrollUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.scroll-animation {
  animation: scrollUp 6s linear infinite;
}


/* Scaling Animation for the second card */
@keyframes scaleUp {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.scale-up {
  animation: scaleUp 6s linear infinite;
}
